<ul class="nav">
	<li {% if active_tab== 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
	<li {% if active_tab== "accounts" %}class="active"{% endif %}><a href="/accounts">Accounts</a></li>
	<li {% if active_tab== "reminders" %}class="active"{% endif %}><a href="/reminders">Reminders</a></li>
	<!--  
	<li class="{% if active_tab == 'tab1' %} active{% endif %}"><a href="#contact">Contact</a></li> -->
</ul>
<ul class="nav pull-right">
	<li><a href="#">Welcome {{ user.nickname() }}</a></li>
	<li><a href="{{ logout_url }}">Sign Out</a></li>
</ul>
